body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #74ABE2, #5563DE); */
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(bg.jpg);
    background-size: cover;
}

.chat-container {
    background: #fff;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 10px 25px #c0cfe3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    color: whitesmoke;
    background: #05294B;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.chat-window {
    flex: 1;
    padding: 15px;
    background: #05152F;
    /* background-image:url(chatboxbg.jpg) ; */
    background-size: cover;
    overflow-y: auto;
}

.message {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    word-wrap: break-word;
}

.message.user {
    background:  #05294B;
    color: #fff;
    margin-left: auto;
}

.message.ai {
    background: #b3c9e6;
    color: #333;
    margin-right: auto;
}

.input-area {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #05294B;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}

.input-area button {
    background: #c0cfe3;
    color: #075A85;
    /* border: none; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

#text-input{
    background-color: #c0cfe3;
}
